.title {
    text-align: center;
    margin: 2rem;
}

form {
    width: 40%;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {
    form {
        width: 80%;
        margin: 0 auto;
    }
}

.loading {
    text-align: center;
}

.loading > img {
    margin: 2rem;
    width: 5%;
}

@media only screen and (max-width: 800px) {
    .loading > img {
        margin: 2rem;
        width: 10%;
    }
}

.quack {
    border-radius: 10px;
    background: rgba(0, 0, 255, 0.023);
    padding: 2rem;
    margin: 2rem;
    cursor: pointer;
    transition: box-shadow 0.5s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.quack:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.quacks-container {
    width: 50%;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {
    .quacks-container {
        width: 100%;
        margin: 0 auto;
    }
}

small {
    opacity: 0.5;
}

.not-auth {
    text-align: center;
}
